In [87]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

In [153]:
# title_basics = pd.read_csv("../datas/raw/title.basics.tsv", sep='\t', low_memory=False)
# ###title_akas = pd.read_csv("../datas/raw/title.akas.tsv", sep='\t', low_memory=False)
# rating = pd.read_csv("../datas/raw/title.ratings.tsv", sep='\t')
# name = pd.read_csv("../datas/raw/name.basics.tsv", sep='\t')
# episodes = pd.read_csv("../datas/raw/title.episode.tsv", sep='\t')
# crew = pd.read_csv("../datas/raw/title.crew.tsv", sep='\t')
principal = pd.read_csv("../datas/raw/title.principals.tsv", sep='\t')

In [122]:
print(title_basics.info())
print(title_basics.head(10))

<class 'pandas.core.frame.DataFrame'>
Int64Index: 628091 entries, 8 to 4883658
Data columns (total 7 columns):
tconst            628091 non-null object
titleType         628091 non-null object
primaryTitle      628091 non-null object
originalTitle     628034 non-null object
startYear         589060 non-null object
runtimeMinutes    628091 non-null uint16
genres            532854 non-null object
dtypes: object(6), uint16(1)
memory usage: 34.7+ MB
None
        tconst titleType                     primaryTitle  \
8    tt0000009     movie                       Miss Jerry
332  tt0000335     movie            Soldiers of the Cross
499  tt0000502     movie                         Bohemios
571  tt0000574     movie      The Story of the Kelly Gang
611  tt0000615     movie               Robbery Under Arms
626  tt0000630     movie                           Hamlet
669  tt0000675     movie                      Don Quijote
670  tt0000676     movie  Don Álvaro o la fuerza del sino
673  tt0000679     movie   The Fairylogue and Radio-Plays
730  tt0000739     movie        El pastorcito de Torrente

                       originalTitle startYear  runtimeMinutes  \
8                         Miss Jerry      1894              45
332            Soldiers of the Cross      1900           65535
499                         Bohemios      1905             100
571      The Story of the Kelly Gang      1906              70
611               Robbery Under Arms      1907           65535
626                           Amleto      1908           65535
669                      Don Quijote      1908           65535
670  Don Álvaro o la fuerza del sino      1908           65535
673   The Fairylogue and Radio-Plays      1908             120
730        El pastorcito de Torrente      1908           65535

                    genres
8                  Romance
332        Biography,Drama
499                    NaN
571  Biography,Crime,Drama
611                  Drama
626                  Drama
669                  Drama
670                  Drama
673      Adventure,Fantasy
730                  Drama

In [155]:
# title_basics = title_basics.replace('\\N', np.NaN)
# title_basics = title_basics[title_basics["titleType"].isin(["movie", "video", "tvMovie", "tvSpecial"])]
# title_basics = title_basics[title_basics.isAdult == 0]
# title_basics.drop(["isAdult", "endYear"], axis=1, inplace=True)

# title_basics.runtimeMinutes = title_basics.runtimeMinutes.replace(np.NaN, 65535).astype(np.uint16)

# title_basics = title_basics.drop( title_basics[(title_basics["titleType"] == "video") & (title_basics["runtimeMinutes"] < 60)].index)
# title_basics = title_basics.drop( title_basics[(title_basics["titleType"] == "movie") & (title_basics["runtimeMinutes"] < 40)].index)
# title_basics = title_basics.drop( title_basics[(title_basics["titleType"] == "tvMovie") & (title_basics["runtimeMinutes"] < 60)].index)
# title_basics = title_basics.drop( title_basics[(title_basics["titleType"] == "tvSpecial") & (title_basics["runtimeMinutes"] < 60)].index)
# title_basics = title_basics.drop( title_basics[ (title_basics["runtimeMinutes"] > 65535 ) & (pd.isnull(title_basics["genres"])) ].index)

# title_basics.runtimeMinutes = title_basics.runtimeMinutes.replace(65535, np.NaN)

title_basics.to_csv("../datas/prepared/title.basics.csv", index=False)

In [14]:
print(title.info())
print(title.head(10))
print("\n\n")
print(rating.info())
print(rating.head())
print("\n\n")
print(name.info())
print(name.head())
print("\n\n")
print(episodes.info())
print(episodes.head())
print("\n\n")
print(crew.info())
print(crew.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3217093 entries, 0 to 3217092
Data columns (total 8 columns):
titleId            object
ordering           int64
title              object
region             object
language           object
types              object
attributes         object
isOriginalTitle    object
dtypes: int64(1), object(7)
memory usage: 196.4+ MB
None
     titleId  ordering                      title region language  \
0  tt0000001         1  Carmencita - spanyol tánc     HU       \N
1  tt0000001         2                 Карменсита     RU       \N
2  tt0000001         3                 Carmencita     US       \N
3  tt0000001         4                 Carmencita     \N       \N
4  tt0000002         1     Le clown et ses chiens     \N       \N
5  tt0000002         2          A bohóc és kutyái     HU       \N
6  tt0000002         3     Le clown et ses chiens     FR       \N
7  tt0000002         4     The Clown and His Dogs     US       \N
8  tt0000002         5         Клоун и его собаки     RU       \N
9  tt0000003         1            Szegény Pierrot     HU       \N

         types             attributes isOriginalTitle
0  imdbDisplay                     \N               0
1           \N                     \N               0
2           \N                     \N               0
3     original                     \N               1
4     original                     \N               1
5  imdbDisplay                     \N               0
6           \N                     \N               0
7           \N  literal English title               0
8           \N                     \N               0
9  imdbDisplay                     \N               0



<class 'pandas.core.frame.DataFrame'>
RangeIndex: 815287 entries, 0 to 815286
Data columns (total 3 columns):
tconst           815287 non-null object
averageRating    815287 non-null float64
numVotes         815287 non-null int64
dtypes: float64(1), int64(1), object(1)
memory usage: 18.7+ MB
None
      tconst  averageRating  numVotes
0  tt0000001            5.8      1356
1  tt0000002            6.5       157
2  tt0000003            6.6       939
3  tt0000004            6.4        93
4  tt0000005            6.2      1629



<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8497089 entries, 0 to 8497088
Data columns (total 6 columns):
nconst               object
primaryName          object
birthYear            object
deathYear            object
primaryProfession    object
knownForTitles       object
dtypes: object(6)
memory usage: 389.0+ MB
None
      nconst      primaryName birthYear deathYear  \
0  nm0000001     Fred Astaire      1899      1987
1  nm0000002    Lauren Bacall      1924      2014
2  nm0000003  Brigitte Bardot      1934        \N
3  nm0000004     John Belushi      1949      1982
4  nm0000005   Ingmar Bergman      1918      2007

                primaryProfession                           knownForTitles
0  soundtrack,actor,miscellaneous  tt0043044,tt0050419,tt0053137,tt0072308
1              actress,soundtrack  tt0117057,tt0038355,tt0037382,tt0040506
2     actress,soundtrack,producer  tt0057345,tt0049189,tt0063715,tt0059956
3         actor,writer,soundtrack  tt0077975,tt0078723,tt0080455,tt0072562
4           writer,director,actor  tt0083922,tt0050976,tt0050986,tt0060827



<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3266219 entries, 0 to 3266218
Data columns (total 4 columns):
tconst           object
parentTconst     object
seasonNumber     object
episodeNumber    object
dtypes: object(4)
memory usage: 99.7+ MB
None
      tconst parentTconst seasonNumber episodeNumber
0  tt0041951    tt0041038            1             9
1  tt0042816    tt0989125            1            17
2  tt0042889    tt0989125           \N            \N
3  tt0043426    tt0040051            3            42
4  tt0043631    tt0989125            2            16



<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4883668 entries, 0 to 4883667
Data columns (total 3 columns):
tconst       object
directors    object
writers      object
dtypes: object(3)
memory usage: 111.8+ MB
None
      tconst  directors writers
0  tt0000001  nm0005690      \N
1  tt0000002  nm0721526      \N
2  tt0000003  nm0721526      \N
3  tt0000004  nm0721526      \N
4  tt0000005  nm0005690      \N

In [142]:
# title_basics.set_index("tconst").join(rating.set_index('tconst'), on='tconst')

pd.merge(title_basics, rating, on='tconst', how='inner')

,tconst,titleType,primaryTitle,originalTitle,startYear,runtimeMinutes,genres,averageRating,numVotes
0,tt0000009,movie,Miss Jerry,Miss Jerry,1894,45.0,Romance,5.4,62
1,tt0000335,movie,Soldiers of the Cross,Soldiers of the Cross,1900,NaN,"Biography,Drama",6.2,32
2,tt0000574,movie,The Story of the Kelly Gang,The Story of the Kelly Gang,1906,70.0,"Biography,Crime,Drama",6.3,439
3,tt0000615,movie,Robbery Under Arms,Robbery Under Arms,1907,NaN,Drama,5.1,12
4,tt0000630,movie,Hamlet,Amleto,1908,NaN,Drama,2.9,8
5,tt0000675,movie,Don Quijote,Don Quijote,1908,NaN,Drama,4.7,7
6,tt0000676,movie,Don Álvaro o la fuerza del sino,Don Álvaro o la fuerza del sino,1908,NaN,Drama,4.0,6
7,tt0000679,movie,The Fairylogue and Radio-Plays,The Fairylogue and Radio-Plays,1908,120.0,"Adventure,Fantasy",6.1,24
8,tt0000739,movie,El pastorcito de Torrente,El pastorcito de Torrente,1908,NaN,Drama,7.2,6
9,tt0000793,movie,Andreas Hofer,Andreas Hofer,1909,NaN,Drama,4.8,6
10,tt0000862,movie,Faldgruben,Faldgruben,1909,NaN,NaN,5.0,7
11,tt0000886,movie,"Hamlet, Prince of Denmark",Hamlet,1910,NaN,Drama,5.3,14
12,tt0000891,movie,Cycle Rider and the Witch,Heksen og cyklisten,1909,NaN,NaN,5.4,15
13,tt0000941,movie,Locura de amor,Locura de amor,1909,NaN,Drama,5.4,5
14,tt0000992,movie,De onde Veje,De onde Veje,1909,NaN,NaN,5.2,6
15,tt0001028,movie,Salome Mad,Salome Mad,1909,NaN,Comedy,4.5,6
16,tt0001038,movie,Sherlock Holmes VI,Sherlock Holmes VI,1910,NaN,NaN,3.8,9
17,tt0001049,movie,Gøngehøvdingen,Gøngehøvdingen,1909,NaN,"Drama,War",4.0,6
18,tt0001101,movie,Abraham Lincoln's Clemency,Abraham Lincoln's Clemency,1910,NaN,NaN,4.4,11
19,tt0001112,movie,Amleto,Amleto,1910,NaN,Drama,3.0,10
20,tt0001113,movie,Amor gitano,Amor gitano,1910,NaN,NaN,5.8,5
21,tt0001115,movie,Ansigttyven I,Ansigttyven I,1910,NaN,Crime,4.6,8
22,tt0001116,movie,Ansigttyven II,Ansigttyven II,1910,NaN,NaN,4.9,7
23,tt0001122,movie,The Red Inn,L'auberge rouge,1910,NaN,NaN,6.0,6
24,tt0001159,movie,The Connecticut Yankee,The Connecticut Yankee,1910,NaN,NaN,5.8,5
25,tt0001175,movie,Camille,La dame aux camélias,1912,NaN,"Drama,Romance",6.3,19
26,tt0001186,movie,Dorothy and the Scarecrow in Oz,Dorothy and the Scarecrow in Oz,1910,NaN,NaN,5.2,36
27,tt0001230,movie,Gentleman Joe,Gentleman Joe,1910,NaN,NaN,5.0,5
28,tt0001240,movie,Hamlet,Hamlet,1911,NaN,Drama,3.8,10
29,tt0001258,movie,The White Slave Trade,Den hvide slavehandel,1910,45.0,Drama,5.6,52
...,...,...,...,...,...,...,...,...,...
267897,tt8081062,movie,Amazing China,"Li hai le, wo de guo",2018,90.0,Documentary,1.0,2477
267898,tt8081638,movie,Thang Nam Ruc Ro,Thang Nam Ruc Ro,2018,118.0,"Comedy,Drama",8.1,82
267899,tt8081830,movie,The Age of Blood,The Age of Blood,2017,102.0,Action,6.9,16
267900,tt8085616,movie,Shohrat the Trap,Shohrat the Trap,2018,67.0,Thriller,9.5,87
267901,tt8088944,movie,The Chase,Ban-deu-si Jab-neun-da,2017,110.0,"Drama,Thriller",6.1,82
267902,tt8089548,movie,Unserious Hero,Unserious Hero,2018,NaN,Comedy,4.9,7
267903,tt8090714,tvMovie,The Berken Case,Peur sur la Base,2017,89.0,"Crime,Drama",5.9,8
267904,tt8092252,movie,Be with You,Be with You,2018,132.0,"Fantasy,Romance",8.3,9
267905,tt8092942,movie,Girls Incarcerated,Girls Incarcerated,2018,NaN,"Documentary,Reality-TV,Talk-Show",7.6,184
267906,tt8094282,movie,Kopanje,Kopanje,2018,68.0,Drama,8.6,5
267907,tt8104564,movie,Miroporjadok-2018,Miroporjadok-2018,2018,93.0,Documentary,6.5,6
267908,tt8104940,movie,Bittin Sen,Bittin Sen,2017,100.0,Comedy,4.7,29
267909,tt8105510,movie,Christian Video: Chronicles of Religious Perse...,Christian Video: Chronicles of Religious Perse...,2018,NaN,Documentary,9.5,14
267910,tt8105580,movie,Christian Movie: Yearning,Christian Movie: Yearning,2018,NaN,NaN,9.2,6
267911,tt8106284,tvMovie,O.J. Simpson: The Lost Confession?,O.J. Simpson: The Lost Confession?,2018,NaN,Documentary,6.4,41
267912,tt8107568,video,Dear Basketball: The Legend of Kobe Bryant,Dear Basketball: The Legend of Kobe Bryant,2015,NaN,NaN,7.0,32
267913,tt8110590,movie,Waves: L'altro volto della musica italiana,Waves: L'altro volto della musica italiana,2018,53.0,"Documentary,Music",7.6,5
267914,tt8112172,movie,Charminar,Charminar,2018,120.0,"Drama,Thriller",7.8,5
267915,tt8112344,movie,Raitha Sanghada Puttannaiah: Puttannaiah of Ra...,Raitha Sanghada Puttannaiah: Puttannaiah of Ra...,2017,58.0,Documentary,9.3,18
267916,tt8115218,tvMovie,The Sweetest Heart,The Sweetest Heart,2018,NaN,Romance,6.6,71
267917,tt8115474,movie,Living the Change: Inspiring Stories for a Sus...,Living the Change: Inspiring Stories for a Sus...,2018,85.0,Documentary,8.8,6
267918,tt8115820,tvMovie,Lanester 3: The Children of the Last Rain,Lanester: Les Enfants de la Dernière Pluie,2017,101.0,"Crime,Drama",6.0,5
267919,tt8118944,movie,My Darling Son,My Darling Son,2018,61.0,Documentary,9.7,15
267920,tt8123286,movie,Dizájneren,Dizájneren,2016,90.0,Documentary,7.5,20
267921,tt8125466,tvMovie,Wedding March 3: Here Comes the Bride,Wedding March 3: Here Comes the Bride,2018,NaN,Romance,4.6,14
267922,tt8126384,movie,Magnetic Mountains,Magnetic Mountains,2017,85.0,"Adventure,Documentary",9.7,13
267923,tt8128798,movie,When the Beat Drops,When the Beat Drops,2018,NaN,Documentary,9.8,5
267924,tt8140526,tvMovie,Four Days That Shook Britain,Four Days That Shook Britain,2018,NaN,Documentary,7.0,5
267925,tt8140738,tvMovie,Yoo Byungjae: Too Much Information,Yoo Byungjae: Too Much Information,2018,63.0,Comedy,6.0,8
267926,tt8156742,movie,100 Days of Loneliness,100 días de soledad,2018,93.0,"Documentary,Drama",8.0,5

In [143]:
title_basics

,tconst,titleType,primaryTitle,originalTitle,startYear,runtimeMinutes,genres
8,tt0000009,movie,Miss Jerry,Miss Jerry,1894,45.0,Romance
332,tt0000335,movie,Soldiers of the Cross,Soldiers of the Cross,1900,NaN,"Biography,Drama"
499,tt0000502,movie,Bohemios,Bohemios,1905,100.0,NaN
571,tt0000574,movie,The Story of the Kelly Gang,The Story of the Kelly Gang,1906,70.0,"Biography,Crime,Drama"
611,tt0000615,movie,Robbery Under Arms,Robbery Under Arms,1907,NaN,Drama
626,tt0000630,movie,Hamlet,Amleto,1908,NaN,Drama
669,tt0000675,movie,Don Quijote,Don Quijote,1908,NaN,Drama
670,tt0000676,movie,Don Álvaro o la fuerza del sino,Don Álvaro o la fuerza del sino,1908,NaN,Drama
673,tt0000679,movie,The Fairylogue and Radio-Plays,The Fairylogue and Radio-Plays,1908,120.0,"Adventure,Fantasy"
730,tt0000739,movie,El pastorcito de Torrente,El pastorcito de Torrente,1908,NaN,Drama
784,tt0000793,movie,Andreas Hofer,Andreas Hofer,1909,NaN,Drama
803,tt0000812,movie,El blocao Velarde,El blocao Velarde,1909,NaN,NaN
805,tt0000814,movie,La bocana de Mar Chica,La bocana de Mar Chica,1909,NaN,NaN
829,tt0000838,movie,A Cultura do Cacau,A Cultura do Cacau,1909,NaN,NaN
833,tt0000842,movie,De Garraf a Barcelona,De Garraf a Barcelona,1909,NaN,NaN
837,tt0000846,movie,Un día en Xochimilco,Un día en Xochimilco,1909,NaN,NaN
841,tt0000850,movie,Los dos hermanos,Los dos hermanos,1909,NaN,NaN
850,tt0000859,movie,Fabricación del corcho en Sant Feliu de Guixols,Fabricación del corcho en Sant Feliu de Guixols,1909,NaN,NaN
853,tt0000862,movie,Faldgruben,Faldgruben,1909,NaN,NaN
858,tt0000867,movie,Fiesta de toros,Fiesta de toros,1909,NaN,NaN
859,tt0000868,movie,Fiestas de Santa Lucía - Belenes,Fiestas de Santa Lucía - Belenes,1909,NaN,NaN
860,tt0000869,movie,Fiestas en La Garriga,Fiestas en La Garriga,1909,NaN,NaN
870,tt0000879,movie,Gira política de Madero y Pino Suárez,Gira política de Madero y Pino Suárez,1909,NaN,NaN
877,tt0000886,movie,"Hamlet, Prince of Denmark",Hamlet,1910,NaN,Drama
882,tt0000891,movie,Cycle Rider and the Witch,Heksen og cyklisten,1909,NaN,NaN
931,tt0000941,movie,Locura de amor,Locura de amor,1909,NaN,Drama
937,tt0000947,movie,Lægens offer,Lægens offer,1909,NaN,NaN
949,tt0000959,movie,Melilla y el Gurugu,Melilla y el Gurugu,1909,NaN,NaN
973,tt0000984,movie,Niños en la alameda,Niños en la alameda,1909,NaN,NaN
981,tt0000992,movie,De onde Veje,De onde Veje,1909,NaN,NaN
...,...,...,...,...,...,...,...
4883165,tt8164192,video,Friendship,Friendship,2015,NaN,Short
4883175,tt8164214,tvMovie,Untitled Netflix/Billy Eichner Stand-up Special,Untitled Netflix/Billy Eichner Stand-up Special,NaN,NaN,Comedy
4883251,tt8164384,tvMovie,Blackberries and Champagne Wedding Inspiration,Blackberries and Champagne Wedding Inspiration,2017,NaN,Reality-TV
4883254,tt8164392,movie,Apartment Haunting,Apartment Haunting,2017,NaN,Horror
4883257,tt8164398,movie,If I Don't Make It Home,If I Don't Make It Home,2018,NaN,Documentary
4883274,tt8164442,movie,The African Space Project,The African Space Project,2019,80.0,NaN
4883277,tt8164452,movie,License to Parent,License to Parent,2018,63.0,Documentary
4883297,tt8164512,movie,Bernabé,Bernabé,2013,73.0,Drama
4883325,tt8164584,tvMovie,Attn: on Showtime,Attn: on Showtime,NaN,NaN,News
4883349,tt8164634,video,#Flawless,#Flawless,2018,NaN,"Comedy,Short"
4883352,tt8164640,tvMovie,Volcano 24,Volcano 24,NaN,NaN,NaN
4883387,tt8164736,movie,Riches,Riches,2018,60.0,Documentary
4883395,tt8164758,tvMovie,Rachel Nickell: The Untold Story,Rachel Nickell: The Untold Story,2018,60.0,"Crime,Documentary"
4883441,tt8164890,movie,The Watchman Chronicles,The Watchman Chronicles,2017,97.0,Documentary
4883459,tt8164940,tvMovie,Visions of Vancouver,Visions of Vancouver,2010,NaN,Sport
4883507,tt8165062,movie,Survive Girls,Sabaibu,2006,86.0,Horror
4883509,tt8165070,tvMovie,Judy Collins: Live in Ireland,Judy Collins: Live in Ireland,2014,NaN,Music
4883521,tt8165102,tvMovie,Solang bei uns 'ne Knospe sprießt,Solang bei uns 'ne Knospe sprießt,1982,NaN,Music
4883533,tt8165136,movie,Tinker's Shadow: The Hidden History of Tinker ...,Tinker's Shadow: The Hidden History of Tinker ...,2018,60.0,Documentary
4883537,tt8165148,movie,Alexandar,Alexandar,2017,117.0,Drama
4883559,tt8165220,video,Los reinos del arco iris,Los reinos del arco iris,2008,NaN,Animation
4883563,tt8165236,video,Beyond Our Paradise,Beyond Our Paradise,2018,NaN,Documentary
4883569,tt8165254,video,Marea,Marea,2015,NaN,Short
4883608,tt8165340,tvMovie,African Conversations,African Conversations,2017,NaN,"Documentary,Family"
4883634,tt8165392,movie,Keke Palmer: Look at Me Now,Keke Palmer: Look at Me Now,2012,NaN,"Music,Short"
4883648,tt8165420,movie,Dui Kinara,Dui Kinara,2003,NaN,"Drama,Romance"
4883651,tt8165432,video,No te vayas ahora,No te vayas ahora,2011,NaN,Short
4883652,tt8165434,movie,Britney Spears 2003 NFL Kickoff Commercial,Britney Spears 2003 NFL Kickoff Commercial,2003,NaN,Short
4883657,tt8165450,movie,Two Pennies,Two Pennies,2018,90.0,Animation
4883658,tt8165454,movie,Britney Spears: Private Show Fragrance,Britney Spears: Private Show Fragrance,2016,NaN,Short

In [148]:
name.head()

,nconst,primaryName,birthYear,deathYear,primaryProfession,knownForTitles
0,nm0000001,Fred Astaire,1899,1987,"soundtrack,actor,miscellaneous","tt0043044,tt0050419,tt0053137,tt0072308"
1,nm0000002,Lauren Bacall,1924,2014,"actress,soundtrack","tt0117057,tt0038355,tt0037382,tt0040506"
2,nm0000003,Brigitte Bardot,1934,\N,"actress,soundtrack,producer","tt0057345,tt0049189,tt0063715,tt0059956"
3,nm0000004,John Belushi,1949,1982,"actor,writer,soundtrack","tt0077975,tt0078723,tt0080455,tt0072562"
4,nm0000005,Ingmar Bergman,1918,2007,"writer,director,actor","tt0083922,tt0050976,tt0050986,tt0060827"

In [152]:
crew.head(10)

      tconst            directors    writers
0  tt0000001            nm0005690         \N
1  tt0000002            nm0721526         \N
2  tt0000003            nm0721526         \N
3  tt0000004            nm0721526         \N
4  tt0000005            nm0005690         \N
5  tt0000006            nm0005690         \N
6  tt0000007  nm0005690,nm0374658         \N
7  tt0000008            nm0005690         \N
8  tt0000009            nm0085156  nm0085156
9  tt0000010            nm0525910         \N

In [154]:
principal.head()

,tconst,ordering,nconst,category,job,characters
0,tt0000001,1,nm1588970,self,\N,"[""Herself""]"
1,tt0000001,2,nm0005690,director,\N,\N
2,tt0000001,3,nm0374658,cinematographer,director of photography,\N
3,tt0000002,1,nm0721526,director,\N,\N
4,tt0000002,2,nm1335271,composer,\N,\N